<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MembersOnly</title>
</head>

<body>
  <%- include('header/header', { isAuth: false, joinned: false, isAdmin: false }); -%>
    <h1 class="mx-4">About</h1>
    <p class="mx-4">In This project, I built an exclusive clubhouse where the members can write anonymous posts. Inside the
    clubhouse, members can see who the author of a post is, but outside they can only see the story and wonder who wrote it.</p>
    <p class="mx-4">This project was done as an assignment from <a href="https://www.theodinproject.com">TOP (The Odin Project).</a> </p>

</body>

</html>