<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MembersOnly</title>
</head>

<body>
  <%- include('header/header', { isAuth: false, joinned: false, isAdmin: false }); -%>
    <h1 class="mx-4">Add Message</h1>
    <div class="card mx-4 px-4 py-3 flex-column">
      <form action="/message/add" method="POST">
        <div class="mb-3">
          <label for="titleInput" class="form-label">Title</label>
          <input type="text" class="form-control" id="titleInput" name="title" placeholder="Hello World!" required>
        </div>
        <div class="mb-3">
          <label for="textInput" class="form-label">Text</label>
          <textarea class="form-control" id="textInput" name="text" placeholder="Leave a text here" style="height:300px" required></textarea>
        </div>
        <div class="mt-4 mb-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" style="width:40%;">Submit</button>
        </div>
      </form>
    </div>

</body>

</html>