<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MembersOnly</title>
</head>
<body>
  <%- include('header/header', { isAuth: false, joinned: false, isAdmin: false }); -%>
  <h1 class="mx-4">Sign Up</h1>
  <div class="card mx-4 px-4 py-3 flex-column">
    <form action="/sign-up" method="POST">
      <div class="mb-3">
        <label for="firstNameInput" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstNameInput" name="firstname" placeholder="John" required>
      </div>
      <div class="mb-3">
        <label for="lastNameInput" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastNameInput" name="lastname" placeholder="Smith" required>
      </div>
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" name="email" placeholder="john_smith@yahoo.com" required>
        <div class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="password" required>
        <div class="form-text">Your password must be at least 6 characters long.</div>
      </div>
      <div class="mb-3">
        <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPasswordInput" name="confirmPassword" placeholder="password" required>
      </div>
      <div class="mt-4 mb-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" style="width:40%;">Submit</button>
      </div>
    </form>
  </div>
  
</body>
</html>